{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'events/css/events.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="overlay overlay-events"></div>
<div class="container-fluid">
    <div class="bg-white-trans px-1 pb-1 pt-0">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center text-rosa-dark text-uppercase mt-2">Events</h1>
                <hr class="border-rosa-dark">
            </div>
        </div>
        {% for event in events %}
        <div class="p-3">
            <div class="row pt-2">
                <div class="col-12">
                    <h3 class="text-rosa-dark">{{event.title}}</h3>
                </div>
            </div>
            <div class="row mb-2">
                <h5 class="col-12 col-md-6"><span class="text-rosa-dark">Location: </span>{{event.location}}</h5>
                <h5 class="col-12 col-md-6"><span class="text-rosa-dark">Date: </span>{{event.date_and_time | date:"d M - Y - h:i"}}</h5>
            </div>
            <div class="row my-2">
                <p class="col-12">{{event.description}}</p>
            </div>
            <div class="row">
                <div class="col-12">
                    <small class="text-muted">Date posted: {{event.timestamp | date:"d M - Y - h:i"}}</small>
                </div>
            </div>
            <hr class="border-rosa-dark mb-4">
        </div>
        {% empty %}
        <div class="row pb-2">
            <div class="col-12">
                <div class="text-black">No events planned</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div> <!-- /.container-fluid -->
{% endblock %}