<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
             <a class="logo-font font-weight-bold nav-link text-rosa-light mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-rosa-light mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu text-rosa-light bg-rosa border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item text-rosa-light">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item text-rosa-light">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item text-rosa-light">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item text-rosa-light">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link bg-rosa text-rosa-light mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dog Stuff
            </a>
            <div class="dropdown-menu bg-rosa text-rosa-light border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=shirts_jumpers" class="dropdown-item text-rosa-light">Shirts &amp; Jumpers</a>
                <a href="{% url 'products' %}?category=jackets_outerwear" class="dropdown-item text-rosa-light">Jackets &amp; Outerwear</a>
                <a href="{% url 'products' %}?category=harnesses_leads" class="dropdown-item text-rosa-light">Harnesses &amp; Leads</a>
                <a href="{% url 'products' %}?category=tbags_beds" class="dropdown-item text-rosa-light">Travel Bags &amp; Beds</a>
                <a href="{% url 'products' %}?category=jackets_outerwear,shirts_jumpers" class="dropdown-item text-rosa-light">All Clothing</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-rosa-light mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu bg-rosa text-rosa-light border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item text-rosa-light">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item text-rosa-light">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item text-rosa-light">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearence" class="dropdown-item text-rosa-light">All Specials</a>
            </div>
        </li>
        <li class="nav-item mr-5">
            <a href="{% url 'events' %}" class="logo-font font-weight-bold nav-link text-rosa-light">
                Events
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-rosa-light" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog about it
            </a>
        </li>
    </ul>
</div>