{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="overlay overlay-events"></div>
    <div class="container-fluid">
        <div class="bg-white-trans-blog">
            <div class="row">
                <div class="col-8 offset-2">
                    <h1 class="text-center text-rosa-dark text-uppercase mt-2">{{ category.title }}</h1>
                    <hr class="border-rosa-dark">
                </div>
            </div>
            {% for post in category.posts.all %}
            <div class="row pt-2">
                <div class="col-8 offset-2">
                    <h3 class="text-rosa-dark">{{ post.title }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-8 offset-2">
                    <div class="text-muted">{{ post.date_added | date:"d M - Y - h:i" }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-8 offset-2">
                    <article>{{ post.intro }}</article>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-8 offset-2">
                    <a href="{% url 'detail_post'  post.slug %}" class="text-rosa-dark">Read more <i class="fas fa-forward"></i></a>
                </div>
            </div>
    </div>
    {% endfor %}
</div><!-- /. container-fluid -->
{% endblock %}