{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="overlay overlay-events"></div>
    <div class="container-fluid">
        <div class="bg-white-trans-blog">
            <div class="row">
                <div class="col-8 offset-2">
                    <h1 class="text-center text-rosa-dark text-uppercase mt-2">Blog</h1>
                    <hr class="border-rosa-dark">
                </div>
            </div>
            {% for post in posts %}
            <div class="row pt-2">
                <div class="col-8 offset-2">
                    <h3 class="text-rosa-dark">{{ post.title }}</h3>
                </div>
            </div>
            <div class="row pb-1">
                <div class="col-8 offset-2">
                    <div class="text-muted">Date posted: {{ post.data_added | date:"d M - Y - h:i"}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-8 offset-2">
                    <article>{{ post.intro }}</article>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-8 offset-2">
                    <a href="{% url 'detail_post'  post.slug %}" class="text-rosa-dark">Read more <i class="fas fa-forward"></i></a>
                </div>
            </div>
            {% empty %}
            <div class="row pb-2">
                <div class="col-8 offset-2">
                    <div class="text-center">No blog post here</div>
                </div>
            </div>
            {% endfor %}
        </div>      
    </div><!-- /. container-fluid -->
{% endblock %}